<div class="panel panel-default">
    <div class="panel-heading">
        フォロー一覧　<%= link_to 'Profileへもどる', current_user %>
    </div>
    
    <div class="panel-body">
        <% @followings.each do |following| %>
            <span class="label label-info">
                <%= following.name %>
            </span>
            <br />
        <% end %>
    </div>
</div>