<div class="panel panel-default">
    <div class="panel-heading">
        フォロワー一覧
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% @followers.each do |follower| %>
            <span class="label label-info">
                <%= follower.name %>
            </span>
            <br />
        <% end %>
      </div>
    </div>
</div>